h1{

	font-family: proxima-nova,sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #17242c;
	
}

h2{

	font-family: proxima-nova,sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #17242c;

}

h3{

	font-family: proxima-nova,sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #17242c;

}